{% extends 'base.html.twig' %}

{% block title %}Admin - All Transaction{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/tailwind.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/dashboard.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include 'header.html.twig' %}
    <body style="height: max-content;" >
    <div class="container-fluid h-full gradient-bg">
        <div class="flex h-full">
            <div class="w-48 bg-gray-800 text-white">
                <!-- Sidebar -->
                <ul class="flex flex-col p-4">
                    <li>
                        <a href="/admin/dashboard" class="text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="/profile" class="text-white">Profile</a>
                    </li>
                    <li>
                        <a href="/admin/user-management" class="text-white">User Management</a>
                    </li>
                    <li>
                        <a href="/crypto/management" class="text-white">Cryptocurrency Management</a>
                    </li>
                    <li>
                        <a href="/admin/all_transactions" class="text-white">Transactions</a>
                    </li>
                    <li>
                        <a href="/admin/analytics-stats" class="text-white">Reports and Analytics</a>
                    </li>
                </ul>
            </div>

            <div class="flex-1 p-4">
                <h1 class="text-2xl font-bold mb-4">All Transactions</h1>

                {% for userTransaction in userTransactions %}
                    <h1 class="text-xl font-bold mb-2">
                        Transactions of {{ userTransaction.user.getFirstName() }} {{ userTransaction.user.getLastName() }}
                    </h1>
                    <table class="table-rounded bg-gray-800 border: 1px solid white; ">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 border-b-2 border-gray-600">Bought Crypto</th>
                                <th class="px-6 py-3 border-b-2 border-gray-600">Wallet</th>
                                <th class="px-6 py-3 border-b-2 border-gray-600">Date</th>
                                <th class="px-6 py-3 border-b-2 border-gray-600">Transaction Type</th>
                                <th class="px-6 py-3 border-b-2 border-gray-600">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in userTransaction.transactions %}
                                <tr class="{{ loop.index is even ? 'bg-gray-700' : 'bg-gray-800' }}">
                                    <td class="px-6 py-4">{{ transaction.crypto.name }}</td>
                                    <td class="px-6 py-4">{{ transaction.wallet.name }}</td>
                                    <td class="px-6 py-4">{{ transaction.date|date('Y-m-d H:i:s') }}</td>
                                    <td class="px-6 py-4">{{ transaction.type }}</td>
                                    <td class="px-6 py-4">{{ transaction.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}