{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/tailwind.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}
{% block body %}
<header style="background-color: #38618C;" class=" py-4 px-6 flex items-center justify-between">
        
    <div>
        <a href="/">
        <img src="{{ asset('images/logoBitchest.svg') }}" href="/" alt="Bitchest Logo" class="w-12 h-12">
 </a>  
 </div>


    
    <div class="link-btg">
    <div class="flex items-center space-x-4">
        
        <a href="/login" class="text-white">Login</a>
        <a href="/register" class="text-white">Register</a>
    </div>
    </div>
    
</header>

<div class="background-form">
   


    <form method="post" class="glassmorphism-form">
        {% if error is defined and error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        {% if app.user %}
            {# Utilisateur déjà connecté #}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    
        <h3>Login Here</h3>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    
        {# Ajoutez une redirection conditionnelle basée sur les rôles après une connexion réussie #}
        {% if is_granted('ROLE_ADMIN') %}
            <input type="hidden" name="_target_path" value="{{ path('app_admin_dashboard') }}" />
        {% elseif is_granted('ROLE_USER') %}
            <input type="hidden" name="_target_path" value="{{ path('app_client_dashboard') }}" />
        {% endif %}
    
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}