{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/tailwind.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block body %}
<video autoplay muted loop id="bg-video">
    <source src="{{ asset('videos/Background_Homevideo.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
</video>
    <header class="bg-transparent py-4 px-6 flex items-center justify-between">
        
        <div>
            <img src="{{ asset('images/logoBitchest.svg') }}" alt="Bitchest Logo" class="w-12 h-12">
        </div>

    
        
        <div class="link-btg">
        <div class="flex items-center space-x-4">
            
            <a href="/login" class="text-white">Login</a>
            <a href="/register" class="text-white">Register</a>
        </div>
        </div>
        
    </header>

    <!-- Main Content Section -->

    <div class="container mx-auto mt-8">
        
            <h1 class="text-3xl font-bold mb-4">Welcome to Bitchest</h1>
            <p class="text-sm">The most ambitious cryptocurrency website</p>
       

        <h1 class="text-3xl font-bold mb-4">Start Exploring Cryptocurrencies</h1>
      
    </div>

      <!-- Nouvelle Section de Présentation -->
      <div class="presentation">
        <h2 class="text-2xl font-bold mb-4">Presentation</h2>
        <p>Bitchest is a cryptocurrency-focused website developed by Adam Konaté, Iurii Buriac, and Nelson Ayadokoun.</p>
        <div class="flex items-center justify-center space-x-4 mb-8">
            <a href="/login" class="bg-custom-blue text-white font-bold py-2 px-4 rounded">Login</a>
            <a href="/register" class="bg-custom-blue text-white font-bold py-2 px-4 rounded">Register</a>
        </div>
    </div>
    {# Display success message if available #}
{% set successMessages = app.flashes('success') %}
{% if successMessages is not empty %}
    <div class="bg-green-200 text-green-800 p-4 mb-4 rounded text-center">
        {{ successMessages[0] }}
    </div>
{% endif %} 
    {% block javascripts %}
    <script type="module" src="{{ asset('app.js') }}"></script>
{% endblock %}
{% endblock %}
